@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda:wght@400;700&display=swap');

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 60px;
  padding: 10px 20px;
  position: relative;
}


.logoimgApp{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px black);
}
.logotextApp{
  font-family: 'Caramel', cursive;
  font-size: 2rem;
  color: #1205cf;
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  cursor: pointer;
}

.FormuRegister{
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerform{
  width: 300px;
  margin: 10px;
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);

}
.containerform form input{
  margin: 5px;
  padding: 10px 40px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.containerform form label{
  text-align: start;
}
.containerform form select{
  margin: 5px;
  padding: 10px 80px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.containerform form button{
  padding: 8px 40px;
  background-color: blue;
  margin: 10px;
  color: white;
  font-size: 1.1rem;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.2s ease;
}
.containerform form button:hover{
  transform: scale(1.1);
}

/* Overlay qui grise le fond */
.modal-overlay {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Floute l'arrière-plan */
}

/* La boîte de la modale */
.modal-content {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  animation: popIn 0.3s ease-out;
}

@keyframes popIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/* L'icône animée */
.success-icon {
  width: 60px; height: 60px;
  background: #4BB543;
  color: white;
  font-size: 35px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 auto 20px;
  animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
  0% { transform: scale(0); }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.btn-modal {
  margin-top: 5px;
  background: #007bff;
  color: white;
  border: none;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}

/* État normal */
.btn-active {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* État quand on clique et que loading est true */
button:disabled {
  background-color: #a5a5a5 !important;
  cursor: not-allowed;                 /* Curseur de blocage */
  opacity: 0.8;
  transform: scale(0.8);              /* Petit effet d'enfoncement */
}

@media (max-width: 768px) {

   header {
    padding: 10px 15px;
    margin-bottom: 70px;
  }

  
  /* Cache le texte du logo */
  

  /* Cache le centre (compteur) */
  .header-center {
    display: none;
  }

  /* Icônes plus compactes */
  .header-icon {
    font-size: 16px;
  }

}