@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda:wght@400;700&display=swap');

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 60px;
  padding: 10px 20px;
  position: relative;
}

/* Hamburger */
.hamburger{
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #1205cf;
  cursor: pointer;
}

/* Logo */
.logo{
  display: flex;
  align-items: center;
}

.header img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px black);
}

.header h2{
  font-family: 'Caramel', cursive;
  font-size: 2rem;
  color: #1205cf;
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  cursor: pointer;
}

/* Menu */
.header ul{
  display: flex;
}

.header ul li{
  margin: 20px;
  list-style: none;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  font-size: 1.5rem;
}

.header ul li a{
  text-decoration: none;
}

/* Buttons */
.btn select{
  margin-right: 20px;
}

.BtnInscription{
    display: none;
    margin-left: 70px;
    gap: 20px;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.6);

}


.btn-inscrire,
.btn-connexion{
  padding: 8px 12px;
  border-radius: 10px;
  margin-right: 20px;
  border: none;
  background-color: rgba(6, 6, 241, 0.646);
  color: white;
  font-weight: bold;
  font-family: 'Catamaran', sans-serif;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  cursor: pointer;
}

/* ====== RESPONSIVE ====== */
@media screen and (max-width: 900px){
  .hamburger{
    display: block;
  }

  .header ul{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 10;
  }

  .header ul.open{
    display: flex;
  }
  .BtnInscription{
    display: flex;
  }
  .btn{
    display: none; /* cache les boutons sur mobile */
  }
}

@media screen and (max-width: 600px){
  .header{
    padding: 10px 10px;
  }

  .header h2{
    font-size: 1.5rem;
  }

  .header img{
    width: 50px;
    height: 50px;
  }
}