@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry Cream Soda:wght@400;700&display=swap');


.Offrestudent{
    border-radius: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    box-shadow: 2px 2px 2px 2px  rgba(5, 5, 227, 0.6) ;
    margin: 50px 30px;
    height: 580px;
    background-image: url('../images/stuentimage.jpg');
    background-size: 1400px;
    background-repeat: no-repeat;
}

.divoffre{
    width: 350px;
    height: 420px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px  rgba(5, 5, 227, 0.6) ;
    margin-left: 150px;
    background-color: white;
    text-align: center;
}
.divoffre .div1 button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    font-family: 'Cherry Cream Soda', cursive;
    box-shadow: 2px 2px 2px 2px  rgba(21, 21, 21, 0.6) ;
    background-color: rgba(6, 6, 241, 0.708);
    color: white;
}
.divoffre .Studentoffre{
    margin: 20px;
    justify-content: center;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 1.3rem;
}
.divoffre button{
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Cherry Cream Soda', cursive;
    box-shadow: 2px 2px 2px 2px  rgba(21, 21, 21, 0.6) ;
    background-color: rgba(6, 6, 241, 0.708);
    color: white;
}